<template lang="pug">
footer.footer
  .container
    .content.has-text-centered
      p
        a(href='https://nodejs.org', target='_blank', title='Node.js')
          img.logo(src='/img/nodejs.svg', alt='Node.js')

        a(href='https://npmjs.com', target='_blank', title='NPM')
          img.logo(src='/img/npm.svg', alt='NPM')

        a(href='https://rollupjs.org', target='_blank', title='Rollup')
          img.logo(src='/img/rollup.svg', alt='Rollup')

        a(href='https://netlify.com', target='_blank', title='Netlify')
          img.logo(src='https://www.netlify.com/img/press/logos/full-logo-light.svg', alt='Netlify')

      p
        span {{year}}
        <span> &copy; </span>
        a(href='https://jsweb.app/') jsweb.app
</template>

<script>
export default {
  name: 'appfooter',
  computed: {
    year() {
      return new Date().getFullYear();
    }
  }
};
</script>

<style lang="stylus" scoped>
.footer
  box-shadow 0 0 4px lightgrey

.logo
  height 2em
  margin 0 1em
</style>

