<template lang="pug">
  nav.navbar.is-primary.is-fixed-top
    .container
      .navbar-brand
        nuxt-link.navbar-item(to='/')
          strong {{$store.state.name}}

      .navbar-menu
        .navbar-end
          nuxt-link.navbar-item(v-for='i in menu', :key='i.link', :to='i.link', :class='active(i.link)') {{i.label}}
</template>

<script>
export default {
  name: 'appnavbar',
  computed: {
    menu() {
      return this.$store.getters.menu
    }
  },
  methods: {
    active(route) {
      const active = this.$route.path === route
      return { active }
    }
  }
}
</script>


<style lang="stylus" scoped>
@import '~assets/theme'

.navbar
  background $primary
  box-shadow 0 0 4px grey

  strong
    font-size x-large
    text-shadow -1px 1px 1px gray

.navbar-item
  &.active
    background darken($primary, 15%)
</style>
