<template lang="pug">
  main
    h1.is-size-1 {{$store.state.name}}
    nav.container.columns
      .column
        p.is-size-5 Processamento paralelo multi-thread simples e dinâmico com JavaScript Web Workers
        nuxt-link.button.is-large.is-primary.is-inverted.is-outlined(to='/pt-br') saiba mais
      .column
        p.is-size-5 Simple and dynamic multi-thread parallel processing with JavaScript Web Workers
        nuxt-link.button.is-large.is-primary.is-inverted.is-outlined(to='/en-us') know more
    br
</template>

<script>
export default {
  layout: 'home',
}
</script>

<style lang="stylus" scoped>
main
  background:
    linear-gradient(to right, rgba(teal, 0.5), rgba(teal, 0.75)),
    url('/img/worktopus.jpg') center center fixed no-repeat
  background-size: cover
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  color: white

h1
  font-weight: bold
  text-shadow: -2px 2px 2px black


nav
  p
    text-shadow: -2px 2px 2px black
    padding: 2em
    margin: 2em

.button
  border-width: 2px
  transition: all 0.25s ease
</style>

