<template lang="pug">
component(:is='page')
</template>

<script>
import instalacao from '../../components/content/pt-br/install'
import install from '../../components/content/en-us/install'

import comoUsar from '../../components/content/pt-br/usage'
import usage from '../../components/content/en-us/usage'

import metodos from '../../components/content/pt-br/methods'
import methods from '../../components/content/en-us/methods'

import sobre from '../../components/content/pt-br/about'
import about from '../../components/content/en-us/about'

export default {
  layout: 'pages',
  computed: {
    page() {
      return this.$route.params.page
    }
  },
  components: {
    instalacao,
    install,
    comoUsar,
    usage,
    metodos,
    methods,
    sobre,
    about
  }
}
</script>
