<template lang="pug">
component(:is='lang')
</template>

<script>
import ptBr from '../../components/content/pt-br/index'
import enUs from '../../components/content/en-us/index'

export default {
  layout: 'pages',
  computed: {
    lang() {
      return this.$route.params.lang
    }
  },
  components: {
    ptBr,
    enUs
  }
}
</script>
