<template lang="pug">
article.content.has-text-justified
  h1.is-size-1 Sobre

  h2.is-size-2.has-text-grey-light Quer saber mais?

  blockquote <strong>{{$store.state.name}}</strong> é um projeto open source e você pode contribuir

  h3.is-size-3.has-text-grey Código

  p O código do <strong>{{$store.state.name}}</strong> está hospedado na nuvem open source do GitLab e contribuições são bem-vindas:

  p
    a.button.is-primary.is-medium(href='https://gitlab.com/webjs/worktopus') {{$store.state.name}} no GitLab

  h3.is-size-3.has-text-grey Desenvolvimento

  p O módulo <strong>{{$store.state.name}}</strong> é desenvolvido basicamente com:

  ul
    li Node.js
    li NPM
    li Rollup

  p E algumas dependências de desenvolvimento...

  h3.is-size-3.has-text-grey Site e Documentação

  p Este site é uma SPA estática desenvolvida com Nuxt, um framework para desenvolvimento de sites com Vue.js.

  p E também é generosamente hospedado por Netlify, o melhor serviço de hospedagem para sites estáticos!
</template>
