<template lang="pug">
article.content.has-text-justified
  h1.is-size-1 Introdução

  h2.is-size-2.has-text-grey-light Work... quê?

  blockquote <strong>{{$store.state.name}}</strong> é um módulo JavaScript simples e dinâmico para processamento paralelo multi-thread e assíncrono via Web Workers

  h3.is-size-3.has-text-grey Processamento paralelo

  p Os processadores atuais são projetados para acelerar as tarefas do computador através de processamento paralelo multi-thread.
  p Na verdade, processar grande carga de dados em uma única thread é considerado até mesmo nocivo para os computadores de hoje.
  p Em sites e aplicações web isso é mais negativo quando você processa esses dados em uma única thread de script, com as limitações do navegador.
  p Por isso, <strong>{{$store.state.name}}</strong> oferece uma solução simples e útil alocando threads paralelas dinamicamente para processar os seus dados, fazendo um "balanceamento de carga" usando os núcleos disponíveis no processador.

  h3.is-size-3.has-text-grey Operações assíncronas

  p Além de dividir o trabalho computacional paralelamente entre os núcleos disponíveis no processador, cada passo é executado de forma assíncrona.
  p Com isso, o seu código não bloqueia o fluxo da aplicação e ela continua interativa para realizar outras tarefas ou responder a outros comandos enquanto o processamento é executado em background.
  p <strong>{{$store.state.name}}</strong> usa Web Workers e trabalha em um fluxo assíncrono semelhante ao de Promises, recursos nativos do JavaScript.
</template>
