<template lang="pug">
article.content.has-text-justified
  h1.is-size-1 Instalação

  h2.is-size-2.has-text-grey-light Como instalar no seu projeto

  blockquote <strong>{{$store.state.name}}</strong> pode ser instalado no seu projeto pelos meios mais usados no mundo JavaScript

  h3.is-size-3.has-text-grey NPM ou Yarn

  p Meio mais comum usado para o desenvolvimento de aplicações web modernas:

  pre
    code npm i -S @jsweb/worktopus

  p ou

  pre
    code yarn add @jsweb/worktopus

  h3.is-size-3.has-text-grey CDN

  p Se você preferir, pode incluir <strong>{{$store.state.name}}</strong> diretamente via Unpkg CDN.
  p Ao incluir o script na sua página, o objeto <strong>worktopus</strong> fica disponível no escopo global.
  p Este link sempre servirá a versão estável mais recente para uso no navegador:

  pre
    code &lt;script src="https://unpkg.com/@jsweb/worktopus"&gt;&lt;/script&gt;
</template>
