<template lang="pug">
article.content.has-text-justified
  h1.is-size-1 Métodos

  h2.is-size-2.has-text-grey-light O que esses tentáculos podem fazer?

  blockquote <strong>{{$store.state.name}}</strong> possui métodos e configurações úteis para você explorar o potencial do processamento paralelo e assíncrono com Web Workers

  h3.is-size-3.has-text-grey Encadeamento

  p Todos os métodos a seguir podem ser usados com encadeamento, assim como <em>then/catch</em> de Promise.

  p A única exceção é o método <strong>finally</strong>, que encerra o fluxo do objeto entregando o resultado e deletando os dados da instância.

  pre
    code
      div worktopus(data)
      div   .map(i => i ** i)
      div   .then(data => console.log(data))
      div   .finally(data => console.log(data.length, 'numbers processed'))

  p ...

  h4 .env(key, value)

  p Este método guarda uma variável para ser usada no ambiente dos Workers.
  p Ele faz o mesmo que a propriedade <code>env</code> opcional no objeto de configuração. Portanto, é apenas uma alternativa.

  pre
    code
      div worktopus(data)
      div   .env('pi', 3.14)
      div   .map(function (i) { return i * self.env.pi })

  p É o mesmo que:

  pre
    code
      div worktopus(data, { env: { pi: 3.14 } })
      div   .map(function (i) { return i * self.env.pi })

  p <strong>Importante:</strong> Não use <em>arrow functions</em> quando precisar acessar variáveis em <code>self.env</code>. Isso pode causar problemas no seu código. Elas transferem o escopo do script atual para dentro da função, porém o escopo do Worker é outro isolado.

  p ...

  h4 .imports(...args)

  p Importa código para ser usado no ambiente dos Workers. Recebe 1 ou mais argumentos que podem ser strings ou funções.
  p Strings representam caminhos para scripts a serem importados para o ambiente dos Workers. Esses caminhos podem ser absolutos ou relativos.
  p Funções devem levar em conta o ambiente dos Workers e não devem fazer referências a dependências externas, mas podem fazer referências a variáveis guardadas para o ambiente dos Workers em <code>self.env</code>.

  pre
    code
      p function cubic(i) { return i ** 3 }
      div worktopus(data)
      div   .imports('/path/to/script.js', cubic)
      div   .map(function (i) {
      div      return self.cubic(i) //=> Função 'cubic' importada
      div   })

  p ...

  h4 .packages(...args)

  p Este método é mais recomendado para uso em código para navegador.
  p Semelhante ao método <code>.imports(...args)</code>, este método tem o objetivo de importar scripts para o ambiente dos Workers.
  p Porém, ele tenta importar pacotes NPM através da Unpkg CDN, que é muito usada para servir versões de pacotes para websites.
  p Recebe 1 ou mais strings representando o caminho necessário para requisitar o script desejado na Unpkg CDN.

  pre
    code
      div worktopus(data)
      div   .packages('randkey')
      div   .map(function (item) {
      div      item.uuid = self.randkey.uuid()
      div      return item
      div   })

  p ...
</template>
