<template lang="pug">
article.content.has-text-justified
  h1.is-size-1 Como usar

  h2.is-size-2.has-text-grey-light Como se usa isso?

  blockquote <strong>{{$store.state.name}}</strong> pode ser usado nos navegadores mais modernos ou em aplicações Node.js, mas há um módulo específico para cada

  h3.is-size-3.has-text-grey Navegador

  p Se você preferiu a instalação do <strong>{{$store.state.name}}</strong> via CDN, o módulo padrão para navegador será servido automaticamente e o objeto <strong>worktopus</strong> já estará disponível no escopo global.

  p Mas se você preferir instalar como dependência local no seu projeto com NPM ou Yarn, precisa importar o módulo correto no seu código:

  pre
    code import worktopus from '{{$store.state.name}}/dist/browser'

  h3.is-size-3.has-text-grey Node.js

  p Sim, <strong>{{$store.state.name}}</strong> pode ser usado em código Node.js. Para isso é necessário requerer o módulo correto:

  pre
    code const worktopus = require('{{$store.state.name}}/dist/node')

  h3.is-size-3.has-text-grey Instância de um objeto

  p O módulo importado retorna uma função que pode receber dois argumentos e retorna uma instância de classe que funciona como uma Promise, portanto, todos os métodos disponíveis são assíncronos.

  p Apenas o primeiro argumento é obrigatório, porque ele receberá os dados a serem processados. O segundo argumento pode receber um objeto opcional com variáveis para usar no ambiente dos Workers ou um número para limitar o máximo de Workers para processar os dados.

  p Por padrão, <strong>{{$store.state.name}}</strong> tenta verificar os núcleos do processador. Uma thread é reservada ao processo do módulo principal e as outras serão usadas para instanciar os Workers paralelos.

  pre
    code const work = worktopus(data, { max: 6, env: { start: Date.now() } })
</template>
