<template lang="pug">
section
  appnavbar
  main.container
    nuxt
  appfooter
</template>

<script>
import appnavbar from '../components/appnavbar'
import appfooter from '../components/appfooter'
export default {
  components: {
    appnavbar,
    appfooter
  },
  mounted() {
    document.body.classList.add('has-navbar-fixed-top')
  }
}
</script>

<style lang="stylus" scoped>
section
  display flex
  flex-direction column

main
  flex 1
  padding 1em 0
</style>
