<template lang="pug">
article.content.has-text-justified
  h1.is-size-1 About

  h2.is-size-2.has-text-grey-light Want to know more?

  blockquote <strong>{{$store.state.name}}</strong> is an open source project and you can contribute

  h3.is-size-3.has-text-grey Code

  p <strong>{{$store.state.name}}</strong> code is hosted at GitLab's open source cloud and collaborations are welcome:

  p
    a.button.is-primary.is-medium(href='https://gitlab.com/webjs/worktopus') {{$store.state.name}} at GitLab

  h3.is-size-3.has-text-grey Development

  p <strong>{{$store.state.name}}</strong> module is basically developed with:

  ul
    li Node.js
    li NPM
    li Rollup

  p And some dev dependencies...

  h3.is-size-3.has-text-grey Website and Docs

  p This website is a static SPA made with Nuxt, a web development framework for Vue.js.

  p And it is also generously hosted by Netlify, the best hosting service for static websites!
</template>
