<template lang="pug">
article.content.has-text-justified
  h1.is-size-1 Introduction

  h2.is-size-2.has-text-grey-light Work... what?

  blockquote <strong>{{$store.state.name}}</strong> is a simple and dynamic JavaScript module for multi-threaded and asynchronous parallel processing via Web Workers

  h3.is-size-3.has-text-grey Parallel processing

  p Current processors are designed to speed up computer tasks through multi-threaded parallel processing.
  p In fact, processing large data payload on a single thread is considered even harmful to today's computers.
  p On websites and web applications this is most negative when you process that data in a single script thread, with browser limitations.
  p That's why <strong>{{$store.state.name}}</strong> offers a simple and useful solution by dynamically allocating parallel threads to process your data, doing a "load balancing" using the processor available cores.

  h3.is-size-3.has-text-grey Asynchronous operations

  p In addition to dividing the computational work in parallel between the cores available in the processor, each step is executed asynchronously.
  p As a result, your code does not block the application's flow and it remains interactive to perform other tasks or respond to other commands while processing runs in the background.
  p <strong>{{$store.state.name}}</strong> uses Web Workers and works on an asynchronous stream similar to Promises, native JavaScript features.
</template>
