<template lang="pug">
article.content.has-text-justified
  h1.is-size-1 Installation

  h2.is-size-2.has-text-grey-light How to install in your project

  blockquote <strong>{{$store.state.name}}</strong> can be installed in your project by the most used ways at the JavaScript world

  h3.is-size-3.has-text-grey NPM or Yarn

  p The most common way used for the modern web applications development:

  pre
    code npm i -S @jsweb/worktopus

  p or

  pre
    code yarn add @jsweb/worktopus

  h3.is-size-3.has-text-grey CDN

  p If you prefer, you can include <strong>{{$store.state.name}}</strong> directly via Unpkg CDN.
  p By including the script in your page, the <strong>worktopus</strong> object becomes available in the global scope.
  p This link will always serve the latest stable version to use in the browser:

  pre
    code &lt;script src="https://unpkg.com/@jsweb/worktopus"&gt;&lt;/script&gt;
</template>
