<template lang="pug">
article.content.has-text-justified
  h1.is-size-1 Methods

  h2.is-size-2.has-text-grey-light What can these tentacles do?

  blockquote <strong>{{$store.state.name}}</strong> has useful methods and settings to explore the potential of parallel and asynchronous processing with Web Workers

  h3.is-size-3.has-text-grey Coming soon...
</template>
