<template lang="pug">
article.content.has-text-justified
  h1.is-size-1 Usage

  h2.is-size-2.has-text-grey-light How can I use it?

  blockquote <strong>{{$store.state.name}}</strong> can be used in modern browsers or Node.js applications, but there is specific modules for each enviroment

  h3.is-size-3.has-text-grey Browser

  p If you prefer install <strong>{{$store.state.name}}</strong> via CDN, the default browser module will be served and the <strong>worktopus</strong> object will be global available.

  p But if you prefer to install it as a dependency into your project with NPM or Yarn, you will need to import the correct module in your code:

  pre
    code import worktopus from '{{$store.state.name}}/dist/browser'

  h3.is-size-3.has-text-grey Node.js

  p Yes, <strong>{{$store.state.name}}</strong> can be used in Node.js code. It is just necessary to require the correct module:

  pre
    code const worktopus = require('{{$store.state.name}}/dist/node')

  h3.is-size-3.has-text-grey Object instance

  p The imported module returns a function which can receive two arguments and returns a class instance that works like a Promise, so all available methods are asynchronous.

  p Only first argument is mandatory, because it will receive the data to be processed. The second argument can receive an optional object with variables to use into Workers enviroment or a number to limit maximum Workers to process the data.

  p By default, <strong>{{$store.state.name}}</strong> tries to check processor cores. A thread is reserved to the main module process and the others will be used to instantiate parallel Workers.

  pre
    code const work = worktopus(data, { max: 6, env: { start: Date.now() } })
</template>
