@import './theme'

html
  background whitesmoke

body,
#__nuxt,
#__layout
  display flex

body
  flex-direction column
  font-size large
  min-height 100vh
  position relative

  &.has-navbar-fixed-top
    &:before
      background $primary
      content ' '
      display block
      height 100%
      left 0
      mask url('/img/octopus.svg') center center/85vh 85vh no-repeat
      opacity 0.125
      position fixed
      top 0
      width 100%
      z-index -1

#__nuxt, #__layout
  flex 1 100%

  & > *
    flex 1 100%

.hide,
[hidden],
[v-cloak]
  display none

article
  margin-bottom 3em

pre
  background rgba(black, 75%)
  border-radius 4px
  color lime
  font-size x-large

code
  color $primary
  font-size large
  font-weight bold

.footer,
.content blockquote
  background rgba(white, 50%)
